# Unity тяжёлый мусор
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
sysinfo.txt
UserSettings/

# Игнорим ВСЁ в Assets...
Assets/**

# ...кроме:
# 1) самих директорий (чтоб Git мог дойти до файлов внутри)
!Assets/**/

# 2) всех .meta в любом месте
!Assets/**/*.meta

# 3) кода в Scripts (и его .meta тоже пройдут по правилу выше)
!Assets/[Ss]cripts/**
!Assets/[Ss]haders/**


# IDE
.vs/
*.csproj
*.sln
*.user
*.pidb
*.suo
*.userprefs
*.tmp
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
*.db

# OS
.DS_Store
Thumbs.db
