# Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
sysinfo.txt
UserSettings/

# Ты игноришь вообще всё в Assets...
Assets/*
# ...а теперь белый список для Scripts (сам каталог + всё внутри)
!Assets/[Ss]cripts/
!Assets/[Ss]cripts/**

# Unity метафайлы обычно нужны
!Assets/**/.meta

# IDE
.vs/
*.csproj
*.sln
*.user
*.pidb
*.suo
*.userprefs
*.tmp
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
*.db

# OS
.DS_Store
Thumbs.db
